.footer {
  background-color: #3f3f4a;
  color: #fff;
  padding: 60px 80px 30px;
  font-family: "Poppins", sans-serif;
  margin-top: 60px;
}

/* TOP */
.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT */
.footer-left {
  max-width: 55%;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-logo img {
  width: 60px;
}

.footer-logo h2 {
  font-size: 26px;
  letter-spacing: 2px;
}

.footer-desc {
  margin: 20px 0;
  font-size: 14px;
  line-height: 1.7;
  color: #d1d1d1;
}

.footer-btn {
  background-color: #4db7cf;
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
}

/* RIGHT */
.footer-right h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-right span {
  color: #4db7cf;
}

.footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-right li {
  margin-bottom: 14px;
  cursor: pointer;
  color: #4db7cf;
}

/* MIDDLE */
.footer-middle {
  margin: 40px 0 25px;
  padding: 20px 0;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links span {
  margin-right: 20px;
  font-size: 14px;
}

.highlight {
  color: #4db7cf;
}

/* SOCIALS */
.footer-socials {
  display: flex;
  gap: 15px;
}

.footer-socials svg {
  font-size: 22px;
  background: #000;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

/* BOTTOM */
.footer-bottom {
  font-size: 13px;
  color: #d1d1d1;
  max-width: 70%;
}

.footer-bottom p:first-child {
  margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-left,
  .footer-bottom {
    max-width: 100%;
  }
}
