.form-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Register-Hero-Section{
  height: 70vh;
  width: 100%;
  background-image: url('../assets/Register-img.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.Register-Contents{
  width: 100%;
  background:linear-gradient(135deg, #44B0CC 0%, #18e28711 100%);;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 70px 0 0 30px;
}

.Register-Contents h1{
  color: white;
  font-size: 3.5rem;
  margin-bottom: 10px;
}  
.Register-Contents p{
  color: #121212;
  font-size: 1.2rem;
  max-width: 450px;
  line-height: 1.6;
  padding: 50px 0 0 20px;
}
.form-card {
  background: #44B0CC;
  padding: 24px;
  width: 100%;
  max-width: 420px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.Register-Heading {
  text-align: center;
  margin-top: 40px;
}
.Register-Heading h2 {
  color: #333;
  margin-bottom: 8px;
}
.Register-Heading span {
  color: #44B0CC;
  padding-left: 5px;
}
.Register-Heading p {
  color: #666;
  font-size: 10px;
  padding-top: 8px;

}


.form-card input,
.form-card textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-card button {
  width: 100%;
  padding: 10px;
  background: #18E287;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
